/* credits scroll
reference: <https://blog.hubspot.com/website/scrolling-text-css> */

#scroll-container {
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  -moz-animation: my-animation 25s linear infinite;
  -webkit-animation: my-animation 25s linear infinite;
  animation: my-animation 25s linear infinite;
}
/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

/* card styling 
reference: <https://www.w3schools.com/css/css3_gradients.asp> */

#bio-cards {
	display: flex;
	flex-direction: column;
}

#thomas {
	margin: 1rem;
	background-image: linear-gradient(to top, red, yellow);
}

#tom-button {
	background-color: yellow;
	border-color: rgb(253, 253, 74);
	color: black
}

#tom-button:hover {
	background-color: rgb(255, 196, 0);
}

#laurel {
	margin: 1rem;
	background-image: linear-gradient(to top, rgb(245, 32, 103), yellow);
}

#laurel-button {
	background-color: yellow;
	border-color: rgb(253, 253, 74);
	color: black;
}

#laurel-button:hover {
	background-color: rgb(255, 196, 0);
}

#abshir {
	margin: 1rem;
	background-image: linear-gradient(to top, rgb(107, 28, 197), yellow);
}

#abshir-button {
	background-color: yellow;
	border-color: rgb(253, 253, 74);
	color: black;
}

#abshir-button:hover {
	background-color: rgb(255, 196, 0);
}

#trey {
	margin: 1rem;
	background-image: linear-gradient(to top, rgb(7, 9, 170), yellow);
}

#trey-button {
	background-color: yellow;
	border-color: rgb(253, 253, 74);
	color: black;
}

#trey-button:hover {
	background-color: rgb(255, 196, 0);
}