
#button-section {
	background-color: rgb(204,88,3);
	display: flex;
	justify-content: center;
}

#music-button {
	background-color: rgb(247,176,91);
	border-color: rgb(255,193,94);
	color: rgb(31,19,0);
	font-weight: bold;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

#music-button:hover {
	background-color: rgb(255, 196, 0);
}

/* credits scroll
reference: <https://blog.hubspot.com/website/scrolling-text-css> */

#scroll-container {
	overflow: hidden;
	background-color: rgb(204,88,3);
	position: relative;
}

/* fade out at top */
#scroll-container::before {
	content: '';
	position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 4rem;
	background: linear-gradient(180deg, rgb(204,88,3) 0%, transparent 100%
	);
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  
  /* -moz-animation: my-animation 45s linear infinite;
  -webkit-animation: my-animation 45s linear infinite;
  animation: my-animation 45s linear infinite; */

	/* // Use this instead if music is playing, or as more content is added to credits:
	// song duration: 1min 42s */
	-moz-animation: my-animation 102s linear infinite;
  -webkit-animation: my-animation 102s linear infinite;
  animation: my-animation 102s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(18%);
    -webkit-transform: translateY(18%);
    transform: translateY(18%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

/* card styling 
reference: <https://www.w3schools.com/css/css3_gradients.asp> */

#bio-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#wdtfs-gif-1 {
	width: 500px;
	margin-top: 15rem;
	margin-bottom: 15rem;
}

#wdtfs-gif-2 {
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
	width: 500px;
}

#wdtfs-gif-3 {
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
	width: 500px;
}

#wdtfs-gif-4 {
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
	width: 500px;
}

#wdtfs-gif-5 {
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
	width: 500px;
}

#thomas {
	width: 40rem;
	margin: 1rem;
	background-image: linear-gradient(to top, red, rgb(247,147,76));
	font-weight: bold;
	font-size: 1.75rem;
	padding: 50px;
}

#tom-button {
	background-color: rgb(247,176,91);
	border-color: rgb(255,193,94);
	color: rgb(31,19,0);
	font-weight: bold;
	margin-left: 13rem;
}

#tom-button:hover {
	background-color: rgb(255, 196, 0);
}

#laurel {
	width: 40rem;
	margin: 1rem;
	background-image: linear-gradient(to top, rgb(245, 32, 103), rgb(247,147,76));
	font-weight: bold;
	font-size: 1.75rem;
	padding: 50px;
}

#laurel-button {
	background-color: rgb(247,176,91);
	border-color: rgb(255,193,94);
	color: rgb(31,19,0);
	font-weight: bold;
	margin-left: 13rem;
}

#laurel-button:hover {
	background-color: rgb(255, 196, 0);
}

#abshir {
	width: 40rem;
	margin: 1rem;
	background-image: linear-gradient(to top, rgb(107, 28, 197), rgb(247,147,76));
	font-weight: bold;
	font-size: 1.75rem;
	padding: 50px;
}

#abshir-button {
	background-color: rgb(247,176,91);
	border-color: rgb(255,193,94);
	color: rgb(31,19,0);
	font-weight: bold;
	margin-left: 13rem;
}

#abshir-button:hover {
	background-color: rgb(255, 196, 0);
}

#trey {
	width: 40rem;
	margin: 1rem;
	background-image: linear-gradient(to top, rgb(51, 53, 172), rgb(247,147,76));
	font-weight: bold;
	font-size: 1.75rem;
	padding: 50px;
}

#trey-button {
	background-color: rgb(247,176,91);
	border-color: rgb(255,193,94);
	color: rgb(31,19,0);
	font-weight: bold;
	margin-left: 13rem;
}

#trey-button:hover {
	background-color: rgb(255, 196, 0);
}