.favCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* .favCard {
  width: 250px;
  height: 350px;
  margin: 15px;
  align-items: center;
}

.favCard img {
  width: 240px;
  padding: 15px;
  border-radius: 30px;

} */

.card img:hover {
  cursor: pointer;
}

.modal-body {
  text-align: center;
    align-content: center;
  
  }
  .modal-body img {
  width: 350px;
  border-radius: 30px;
  border: 4px rgb(183, 85, 0) solid;
  }